# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Unity_Shaders_Book-SEEDzy.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\project\Unity_Shaders_Book-SEEDzy\.idea\.idea.Unity_Shaders_Book-SEEDzy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
